---
---

@import "alembic";

body {
  background-color: #c18112;
}

.header {
  background-color: #e8dcc8;
  border-bottom: 1px solid #e8dcc8;
}

a {
  color: #8b6f47;
}

a:hover {
  color: #5c4a2a;
}

/* Header nav links */
.header .nav a {
    color: #161514;        /* normal state color */
}

.header .nav a:hover {
    color: #0c0b0a;        /* hover color */
}


.lang-toggle {
    text-align: right;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.active {
    font-weight: bold;
    text-decoration: none;
}


/* <div class="lang-toggle">
  <a href="/" {% if page.lang == 'en' %}class="active"{% endif %}>EN</a> |
  <a href="{{ page.lang_url }}" {% if page.lang == 'tr' %}class="active"{% endif %}>TR</a>
</div> */